{% extends 'blog/base.html'%}

{%block title%}
<title> Welcome to our blog! </title>
{%endblock%}

{%block body%}
<div class = "new_post">
    <ul>    
        <h1><a href = "{% url 'blog:new_post' %}"> Add a new post </a></h1> 
        {%for post in posts%}
            
            <article>
                <time> Published: {{post.published_date}}</time>
                <h2><a href ="{% url 'blog:post_detail' pk=post.pk %}"> {{post.title}}</a></h2>
                <p> {{ post.text|linebreaksbr}}</p> 
            </article>
                
        {%endfor%}
    </ul>
</div>
{%endblock%}
