<!DOCTYPE html>
<head>
    <title> Yes! </title>
</head>
<body>
    <div>
        <h1>
            we are finally coding the stuff here and the best part we know how to put our webapp on the server the steps involved are as follows
        </h1>
        <ul>
            <li> Create and work in a virtual enviroment.</li>
            <li> Always mention the host server in our settings.py file. </li>
            <li> This is all i remember yeah never forget to make migrations and never put your local db on the server we should all follow the best practices that makes our job really easy. Yeah it does.</li>
        </ul>
    </div>
</body>